<div class="container">
  <h1>Apply Online</h1>
  <%= simple_form_for @applicant, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :apply_for %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :current_organization %>
    <%= f.input :current_profile %>
    <%= f.input :upload_cv %>
    <div class="form-actions">
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

