<div class="container" style="min-height:700px;">
	<div class="row">
 		<div class="col-lg-12">
 			<div class="col-md-4" style="padding-left:0px;">
 			<% if !current_user.nil? && current_user.admin %>
		                <div class="portfolio-link add_product btn btn-primary" data-toggle="modal" style="padding: 6px 4px 6px 5px; margin: 4px 4px 7px 110px;">
		                    Add New Product
		                </div>
            <% end %>
 				<div style="height: 50%; border: 2px solid black; background:black;">
					<div style="font-size: 21px; color: white; text-align: center; padding: 12px; border-bottom:2px solid blue;">
						Products</div>
					<% @categories.each do |category| %>
						<div style="width:100%; padding: 6px;color: black;font-size: 16px;text-align: center; border-bottom:2px solid blue;">
							<div style="background-color: lightgrey; padding: 5px;"><a href="/product?category_id=<%= category.id %>"><%= category.name %></a>
							</div>
						</div>
					<% end %>
 				</div>
 				<div style="height: 50%; border: 2px solid black;">
 					<%= video_tag(["video.mp4"], :size => "362x180", :controls => true) %>
 				</div>
 				
 			</div>
			<div class="col-md-8" >
				<% is_closed = false %>
				<% i = 0 %>
				<% @products.each do |product| %>
					<% if i % 3 == 0 %>
						<div class='row' style='padding-bottom: 10px;'>
					<% end %>
					<div class="col-md-4">
						<div style="border:1px solid grey;">
							<div style="height: 150px; background: lightskyblue;">
								<%= image_tag product.avatar, :style => "width: 100%; height: 150px;" %>
							</div>
							<div style="height: auto;">
								<span style="font-size: 19px; font-weight: bold; padding: 0px 4px 3px 6px; margin: 0px 3px 4px 4px;">Name: </span>
								<span style="font-size: 17px; color: darkblue;"><%= product.name %></span><br>
								<span style="font-size: 19px; font-weight: bold; padding: 0px 4px 3px 6px; margin: 0px 3px 4px 4px;">Of Category: </span>
								<span style="font-size: 17px; color: darkblue;"><%= product.category_id %></span><br>
								<span style="font-size: 19px; font-weight: bold; padding: 0px 4px 3px 6px; margin: 0px 3px 4px 4px;">Model: </span>
								<span style="font-size: 17px; color: darkblue;"><%= product.model %></span><br>
								<span style="font-size: 19px; font-weight: bold; padding: 0px 4px 3px 6px; margin: 0px 3px 4px 4px;">Price: </span>
								<span style="font-size: 17px; color: darkblue;"><%= product.price %></span><br>
							</div>
							<% if !current_user.nil? && !current_user.admin %>
								<button onclick='pro_details(this)' class="portfolio-link details_product btn btn-primary" data-toggle="modal" style="padding: 6px 4px 6px 5px; margin: 4px 4px 7px 110px;" data-id="<%= product.id %>" class='btn btn-primary'>Details</button>
							<% elsif !current_user.nil? && current_user.admin %>
								<button onclick='remove_now(this)' data-id="data["products"][i]["id"]" class='btn btn-primary'>Remove Product</button>
							<% else %>
								<button onclick='pro_details(this)' class="portfolio-link details_product btn btn-primary" data-toggle="modal" style="padding: 6px 4px 6px 5px; margin: 4px 4px 7px 110px;" data-id="<%= product.id %>" class='btn btn-primary'>Details</button>
							<% end %>
						</div>
					</div>
					<% if(i != 3 && i % 3 == 2) %>
						<% is_closed = true %>
						</div>
					<% end %>
					<% i = i + 1 %>
				<% end %>
				<% if !is_closed %>
					</div>
				<% end %>
 			</div> 			
 		</div>
 	</div>
</div>

<div class="modal fade" id="add_productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <div class="close"  data-dismiss="modal aria-hidden="true">&times;</div>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                	<h4 style="text-align: center">Add New Product</h4>
                    <div class="col-lg-12">
                    <%= render "products/form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="details_productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
            <div class="modal-header" align="center">
            	<h4 style="text-align: center">Product Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <div class="close"  data-dismiss="modal aria-hidden="true">&times;</div>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>
