<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  	<div class="text-padd"><%= f.input :name, :placeholder => "Product Name", :input_html => { :class => "form-control" }, label: false %></div>
  	<div class="text-padd"><%= f.input :category_id, :placeholder => "select Category", :input_html => { :class => "form-control" }, label: false %></div>
  	<div class="text-padd"><%= f.input :model, :placeholder => "Model of Product", :input_html => { :class => "form-control" }, label: false %></div>
  	<div class="text-padd"><%= f.input :price, :placeholder => "Price Of Product",  :input_html => { :class => "form-control" }, label: false %></div>
  	<div class="text-padd"><%= f.input :image, :placeholder => "Image", :input_html => { :class => "form-control" }, label: false, :as => :string %></div>
  	<div class="text-padd"><%= f.input :description, :placeholder => "Product Description", :input_html => { :class => "form-control" }, label: false %></div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Add Product', :class => 'submit_product' %>
  </div>
<% end %>

<style>
	.text-padd{
		padding: 3px;
	}
	.submit_product{
		background-color: #fed136;
		border-color: #fed136;
		border-radius: 3px;
		color: #fff;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 15px;
		font-weight: 700;
		padding: 8px 10px;
		text-transform: uppercase;
	}
</style>
