<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.avatar %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<button onclick='order_now(this)' data-id="data["products"][i]["id"]" class='btn btn-primary'>Order Online</button>
